
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>ERROR!!!</title> 
    <link rel="stylesheet" type="text/css" href="../public.style.css">
    
</head> 

<body style="display: flex; 
flex-direction: column;
align-items: center ;
justify-content: center;
margin: 5vw"> 
    <h1 style=" text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;"> Tokio puslapio nėra...</h1>
    <p  style="font-size:50px;  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;"> &#128563;</p>
    <h2>  galimi pasirinkimai: </h2>
    <div style="font-size:20px;display: flex ;justify-content: center;flex-direction: column; align-items: center ">
    <a  href='/' >Pagrindinis puslapis</a><br>
    <a  href='/register' >Registruotis</a><br>
    <a href='/login'>Login</a><br><p>arba</p><br>
    <p style=" font-size:40px; text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;">&#128520;</p>
    <a href='/sos'>keliauti pasižvalgyti...</a> 
    </div>

       

    
</body> 

</html> 