
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>ERROR!!!</title> 
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    
</head> 

<body style="display: flex; 
flex-direction: column;
align-items: start ;
justify-content: flex-start;
margin: 10vw"> 
    <h1 style="color: rgb(158, 44, 44);"> Tokio puslapio nėra...</h1>
    <p  style="font-size:50px"> &#128563;</p>
    <h2>  galimi pasirinkimai: </h2>
    <div style="font-size:20px; ">
    <a  href='/' >Pagrindinis puslapis</a><br>
    <a  href='/register' >Registruotis</a><br>
    <a href='/login'>Login</a><br><p>arba</p><br>
    <p>&#128520;</p>
    <a href='/sos'>keliauti pasižvalgyti...</a> 
    </div>

       

    
</body> 

</html> 