<!DOCTYPE html> 

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>Mokykla</title> 
    <link rel="stylesheet" href="./style.css" />
</head> 

<body class="bod" style="  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;"> 
    
    <div style="display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-top: 5vw;">
    <h3>  PAGRINDINIS PUSLAPIS </h3>,<br>
    <h1> Laba diena. Ką norėtumėte toliau daryt?</h1>
    <div style="font-size:25px">
    <p> Jei čia esate pirmą kartą tai siūlome <a  href='/register'>registruotis.</a></p>
    <p> Jei jau registravotės tai galite <a href='/login'>prisijungti.</a></p><br>
    </div></div>

       
<div style="display: flex; 
flex-direction: column;
align-items: center ;
justify-content: right;">
 <p>&#128520;</p>
    <p>Jei labai įdomu kas Tavęs laukia - keliauk  <a href='/sos'>pasižvalgyti</a> <p style="font-size:60px">&#128520;</p></p>
   </div>

</body> 

</html> 