<!DOCTYPE html> 

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>Prisijungimo forma</title> 
    <link rel="stylesheet" href="./public/style.css" />
</head> 

<body> 
    <h2>Žmogau, jei esi pasiruošęs didžiausiam savo gyvenimo nuotykiui realybėje, prašau prisijungti:</h2>
    <form method="post" id="mokinys">
       
        <p>Prašome įrašyti savo elektinio pašto adresą:</p>
        <input name="email" type="email" required placeholder="El.Paštas please..."></input>
        <p>Prašome įrašyti savo ID:</p>
        <input name="id" type="number" required placeholder="ID...."></input>
        <button type="submit">Submit</button>
    </form>
    <h2>  Buenos Dias LOGINAS</h2>
    <p>Jei dar nesupranti kas čia darosi tai: </p>
    <a href='/register'>Go to Registruotis</a>
    <p>arba grįžk iš kur atėjęs: </p>
    <a href='/'>Go to Pagrindinis puslapis</a>

</body> 

</html> 


<script>

    
</script>