<!DOCTYPE html> 

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>Prisijungimo forma</title> 
    <link rel="stylesheet" href="./style.css" />
</head> 

<body> 
    <h2>Žmogau, jei esi pasiruošęs didžiausiam savo gyvenimo nuotykiui, prašau prisijungti:</h2>
    <form method="post" id="student">
        <p>Prašome įrašyti savo el.pašto adresą: <input name="email" type="email" required placeholder="El.Paštas please..."></input></p>
        <p>Prašome įrašyti savo el.pašto adresą: <input name="password" type="password" required placeholder="Password please..."></input></p>
        <button type="submit" style="width: 420px">Submit</button>
    </form><br>
    <img src="./imag.jpg" height="500"> 
    
    <p>Jei pasiklydai ir nesupranti kas čia darosi tai:<a href='/register'>Go to Registruotis</a> </p>
    
    <p>arba grįžk iš kur atėjęs: <a href='/'>Go to Pagrindinis puslapis</a></p>
</body>

</html>


<script>
</script>