<!DOCTYPE html> 

<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8"> 
    <title>Registracijos forma</title> 
    <link rel="stylesheet" href="./public/style.css" />
</head> 

<body> 
    <h2>  BUENOS DíAS REGISTRACIJA</h2>
    <h2>Žmogau, jei esi pasiruošęs didžiausiam savo gyvenimo nuotykiui realybėje, prašau užpildyti šią magišką registracijos formą:</h2>
    <form method="post" id="PupilForm">
        <p>Žmogiškasis, tėvų suteiktas asmeninis vardas:</p>
        <input name="name" required placeholder="Vardas please..."></input> 
        <p>Iš tėvų paveldėtas  vardas:</p>
        <input name="surname" required placeholder="Pavardė please..."></input>
        <p>Elektrinio pašto adresas:</p>
        <input name="email" type="email" required placeholder="El.Paštas please..."></input>
        <p>Susikurkite slaptažodį:</p>
        <input name="password" type="password" required placeholder="Slaptažodis..."></input>
        <p>Įrašykite savo asmens kodą:</p>
        <input name="asmens_kodas" type="number" required placeholder="a.k...."></input>
        <button type="submit">Submit</button>
    </form><br><br>
    
    <a href='/'>Go to pagrindinis puslapis</a>
    <a href='/login'>Go to Login</a>

</body> 

</html> 