<head>
<link rel="stylesheet" href="./style.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>


<div class="row">
<body class="  jumbotron bg-cover " style='background-image:linear-gradient(to bottom, rgba(127, 164, 233, 0.274) 0%,rgba(29, 92, 10, 0.233) 100%), url("/forest.jpg");' >
   
    <div class="jumbotron text-center"> 
        <div class="text-white  text-center">
<h3  class="display-4 ">Sveiki prisijungę  prie sesijos </h3><br><br>
<h3  class="lead"> išeiti iš sesijos  <a href='/logout'> <img src="./NAVI (2).PNG" height="100" >  </a></h3>
<div >

<!-- <img src="./gerasmazas.png" height="500"> 
<img src="./geras.png" height="700"> -->


</div>
 </div>
</div>
</div>
</body>