<link rel="stylesheet" href="./style.css" />
<h3>Sveiki prisijungę  prie sesijos </h3>
<div >
<img src="./gerasmazas.png" height="500"> 
<img src="./geras.png" height="700"> 

<img src="./gerasmazas.png" height="500">
 </div>